In [ ]:
QUESTION 1

In [5]:

5
5.0
5.1
'5'
5*2
'5' * 2
'5' + '2'
5 / 2
5 % 2
{5, 2, 1}
5 == 3
print (type(5))
print (type(5.0))
print (type(5.1))
print (type('5'))
print (type(5*2))
print (type('5' * 2))
print (type('5' + '2'))
print (type(5 / 2))
print (type(5 % 2))
print (type({5, 2, 1}))
print (type(5 == 3))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'int'>
<class 'set'>
<class 'bool'>

In [ ]:
QUESTION 2

In [6]:
a= 'Supercalifragilisticexpialidocious'
print(len(a))

34

In [22]:
a= 'Supercalifragilisticexpialidocious'
b= 'ice'
if (b.find(a) > 0):
    print(' ice found in '+a)
else:
    print(' ice not found in '+a)

 ice not found in Supercalifragilisticexpialidocious

In [25]:
a= 'Supercalifragilisticexpialidocious'
b= 'Honorificabilitudinitatibus'
c= 'Bababadalgharaghtakamminarronnkonn'
d= [len(c),len(b),len(a)]
e= max(d)
if (e==len(c)):
    f=c
else:
    f=''
if (e==len(b)):
    g=b
else:
    g=''
if (e==len(a)):
    h=a
else:
    h=""
print(f,g,h+ "are the longest words with " + str(e) + "letters")

Bababadalgharaghtakamminarronnkonn  Supercalifragilisticexpialidociousare the longest words with 34letters

In [28]:
a= ['Berlioz', 'Borodin', 'Brian', 'Bartok', 'Bellini', 'Buxtehude', 'Bernstein']
print(min(a) + 'comes first in dictionary, ' + max(a) + ' comes at last.')

Bartokcomes first in dictionary, Buxtehude comes at last.

QUESTION 3

In [42]:
import math
A=int(input("Enter the value of SideA"))
B=int(input("Enter the value of SideB"))
C=int(input("Enter the value of SideC"))
S=(A+B+C)/2
TriangleArea= math.sqrt(Tri*(S-A)*(S-B)*(S-C))
print("TriangleArea("+str(A) + "," +str(B) + "," +str(C) + ") is" +str(TriangleArea))

Enter the value of SideA2
Enter the value of SideB2
Enter the value of SideC2
TriangleArea(2,2,2) is1.7320508075688772

In [ ]:
QUESTION 4

In [45]:
a= [25,47,42,56,32]
b=0
c=[]
d=[]
e= len(a)-1
while (b<=e):
    if (a[b]%2==0):
        #print(a{b})
        c.append(a[b])
    else:
        #print(c)
        d.append(a[b])
    b+=1
print('The Even elements are:' +str(c))
print('The Odd elements are:' +str(d))

The Even elements are:[42, 56, 32]
The Odd elements are:[25, 47]

In [ ]:
QUESTION 5

In [48]:
def inside(x,y,x1,y1,x2,y2):
    if(x > x1 and x < x2 and y > y1 and y < y2):
        return True
    else:
        return False
print(inside(-1,-1,0,0,2,3))

False

In [49]:
def inside(x,y,x1,y1,x2,y2):
    if(x > x1 and x < x2 and y > y1 and y < y2):
        return True
    else:
        return False
print(inside(1,1,0.5,0.2,1.1,2))

True

In [ ]:
QUESTION 6

In [52]:
print ('Enter a word')
a= input()
b= a.lower()
c= b[0]
d= ['a','e','i','o','u']
e= len (b)
f= str(c in d)
g= 1
h= e-1
i=''
while (g<=h):
    i= i+b[g]
    g= g+1
h= ''
if (f=='True'):
    h= e + 'way'
else:
    h= i + c + 'db'
print('The pigLatin of ' + a + 'is:' +h)

Enter a word
lion
The pigLatin of lionis:ionldb

In [ ]:
QUESTION 7

In [59]:
def bldcount(bloodgroup):
    bloodgroup_list = bloodgroup.split()
    test= set(bloodgroup_list)

    for x in test:
        print("There are", bloodgroup_list.count(x), "patients of blood group type", x)
if __name__ == "__main__":
    bloodgroup = ' AB AB B O A A AB O AB A O O A A A O O O AB O A A A A A AB AB A AB O AB O A O O O AB O AB AB AB A A O '
    bldcount(bloodgroup)

There are 15 patients of blood group type O
There are 13 patients of blood group type AB
There are 15 patients of blood group type A
There are 1 patients of blood group type B

In [ ]:
QUESTION 8

In [62]:
a = int(input("Enter the amount to convert in USD: "))
print('select option from below')
print ("A: AUD to USD")
print ("B: CHF to USD")
print ("C: CNY to USD")
print ("D: DKK to USD")
print ("E: EUR to USD")
print ("F: GBP to USD")
print ("G: HKD to USD")
print ("H: INR to USD")
print ("I: JPY to USD")
print ("J: MXN to USD")
print ("K: MYR to USD")
print ("L: NOK to USD")
print ("M: NZD to USD")
print ("N: PHP to USD")
print ("O: SEK to USD")
print ("P: SGD to USD")
print ("Q: THB to USD")

con = input("Select the type of converstion: ")
if con == 'A':
    print ('The USD Rate is',a*0.72)
if con == 'B':
    print ('The USD Rate is',a*1.04)
if con == 'C':
    print ('The USD Rate is',a*0.15)
if con == 'D':
    print ('The USD Rate is',a*0.14)
if con == 'E':
    print ('The USD Rate is',a*1.07)
if con == 'F':
    print ('The USD Rate is',a*1.26)
if con == 'G':
    print ('The USD Rate is',a*0.13)
if con == 'H':
    print ('The USD Rate is',a*0.013)
if con == 'I':
    print ('The USD Rate is',a*0.0079)
if con == 'J':
    print ('The USD Rate is',a*0.015)
if con == 'K':
    print ('The USD Rate is',a*0.23)
if con == 'L':
    print ('The USD Rate is',a*0.11)
if con == 'M':
    print ('The USD Rate is',a*0.65)
if con == 'N':
    print ('The USD Rate is',a*0.019)
if con == 'O':
    print ('The USD Rate is',a*0.10)
if con == 'P':
    print ('The USD Rate is',a*0.73)
if con == 'Q':
    print ('The USD Rate is',a*0.029)

print("Thank you for using converter")

Enter the amount to convert in USD: 100
select option from below
A: AUD to USD
B: CHF to USD
C: CNY to USD
D: DKK to USD
E: EUR to USD
F: GBP to USD
G: HKD to USD
H: INR to USD
I: JPY to USD
J: MXN to USD
K: MYR to USD
L: NOK to USD
M: NZD to USD
N: PHP to USD
O: SEK to USD
P: SGD to USD
Q: THB to USD
Select the type of converstion: E
The USD Rate is 107.0
Thank you for using converter

In [ ]:
QUESTION 9

In [64]:
test = 6 + 'a'
print (test)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [65]:
test = ['A','B','C','D','E','F','G','H','I','J','K','L','M']
print (test[13])

IndexError: list index out of range

In [73]:
import math
math.sqrt(-1.0)

ValueError: math domain error

In [67]:
print(z)

NameError: name 'z' is not defined

In [74]:
test = open("mownika.txt", "r")
print(test.read())

FileNotFoundError: [Errno 2] No such file or directory: 'mownika.txt'

In [ ]:
QUESTION 10

In [78]:
print('Lets have fun! say something')
a='abcdefghijklmnopqrstuvwxyz'
b=input()
#b='Mango'
c=b.lower()
d=0
e=[]
#print(a[25])
while (d<=25):
    f=c.count(a[d])
    e.append(f)
    d = d + 1
print('frequencies of ' + b + ' is : '  + str(e))

Lets have fun! say something
Apple
frequencies of Apple is : [1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]